body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

header{
  background-color: rgb(93, 253, 203);
  border: 0px;
  padding: 48px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 32px;
  color: black;
  font-weight: bold;
}

main{
  margin-top: 48px;
  text-align: center;
}

.scoreboard{
  margin-bottom: 56px;
}

.scoresContainer{
  margin-top: 64px;
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 48px;
}

.scoreBox{
  background-color: #7CC6FE;
  padding: 24px;
  width:200px;
  border-radius: 50px;
}

.sign{
  font-size: 64px;
}

p {
  font-size: 32px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  gap: 32px;
}

