body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

header{
  background-color :#5dfdcb;
  border: 0px;
  padding: 32px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 32px;
  color: black;
  font-weight: bold;
}

main{
  margin-top: 32px;
  text-align: center;
}

.scoreboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.scoresContainer{
  margin-top: 64px;
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 48px;
  flex-wrap: wrap;
}

.modal{
  padding: 24px;
  width:300px;
  border-radius: 50px;
  background-color: #F7567C;
  border: 0;
}

.gameResult{
  font-size: 32px;
}

.roundInfo{
  font-size: 26px;
}

.roundMessage{
  font-size: 22px;
}

.scoreBox{
  background-color: #7CC6FE;
  padding: 24px;
  width:200px;
  border-radius: 50px;
}

.sign{
  font-size: 64px;
}

p {
  font-size: 32px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 64px;
  flex-wrap: wrap;
}

.choice {
  background-color: #8789C0;
  border: none;
  font-size: 32px;
  border-radius: 50px;
  padding: 24px;
}

.hoverEffect:hover {
  opacity: 0.7;
  cursor:pointer
}

.buttonRestart{
  background-color: #8789C0;
  border: none;
  font-size: 32px;
  border-radius: 50px;
  padding: 24px;
}

